{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<p>Lainaamasi Kirjat</p>

<table>
    <tr>
      <th>Nimi</th>
      <th>Kirjan julkaisupäivä</th>
    </tr>
    {%for item in books%}
    <form action="/readBook" method="POST">
        <tr>
        <th>{{item[0][1]}}</th>
        <th>{{item[0][1]}}</th>
        <th><input type="submit" value="Lue"></th>
        <input type="hidden" name="book-id" value="{{item[0][0]}}" />
        </tr>
    </form>
    {%endfor%}
</table>
  



<p>Palauta Kirjoja</p>

<table>
    <tr>
      <th>Nimi</th>
      <th>Kirjan julkaisupaiva</th>
      <th>Kirjan lainauspaiva</th>
      <th>Lainauksen päättymispäivä</th>
      <th>Kirjailijat</th>
    </tr>
    {%for item in books%}
    <form action="/borrowinformation/returnBook" method="POST">
        <tr>
        <th>{{item[0][1]}}</th>
        <th>{{item[0][2]}}</th>
        <th>{{item[0][3]}}</th>
        <th>{{item[0][4]}}</th>
        <th>
            
            {%for author in item[1]%}
            <p>{{author[0]}}</p>
            {%endfor%}
            
        </th>
    
        
        <th><input type="submit" value="palauta"></th>
        <input type="hidden" name="book-id" value="{{item[0][0]}}" />
        </tr>
    </form>
    {%endfor%}
</table>
  
{%endif%}
<form action="/">
    <input type="submit" value="takaisin">
</form>
  