


<p>Kirjastossa olevat kirjat</p>

<table>
    <tr>
      <th>Nimi</th>
      <th>Kirjan julkaisupaiva</th>
      <th>lainattavissa olevat kirjat</th>
      <th>kaikkien kirjojen maara</th>
      <th>Kirjailijat</th>
      <th>lainaa</th>
    </tr>
    
    {%for item in books%}
    <form action="/borrowBooks/borrow" method="POST">
    <tr>
      <th>{{item[0][1]}}</th>
      <th>{{item[0][2]}}</th>
      <th>{{item[0][3]}}</th>
      <th>{{item[0][4]}}</th>
      <th>
            
        {%for author in item[1]%}
        <p>{{author[0]}}</p>
        {%endfor%}
        
      </th>
      <th><input type="submit" value="lainaa"></th>
      <input type="hidden" name="book-id" value="{{item[0][0]}}" />
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </tr>
    </form> 
    {%endfor%}
    
   
  </table>



<form action="/">
    <input type="submit" value="takaisin">
</form>
  