
<p>luo tili</p>
<form action="/createaccount/addaccount" method="POST">
  <label for="usermame">Kayttajan nimi</label><br>
  <input id ="username" type="text" name="username" ><br>

  <label for="Password">Kayttajan Salasana</label><br>
  <input id="Password" type="text" name="password"><br>

  <label for="adress">Kotiosoite</label><br>
  <input id="adress" type="text" name="adress"><br>

  <label for="phonenumber">puhelinnumero</label><br>
  <input id="phonenumber" type="text" name="phonenumber"><br>

  
  <input type="submit" value="luo tili">

</form>


<form action="/">
  <input type="submit" value="takaisin">
</form>


