<head>
  <script type="text/javascript" src="{{url_for('static', filename='javascript/acount_form_validation.js')}}"></script>
</head>
<body>
<p>luo tili</p>
<p>* = pakollinen kenttä</p>
<form name="createAccountForm" onsubmit="return validate_account_form(this)" action="/createaccount/addaccount" method="POST">
  <label for="usermame">Kayttajan nimi*</label><br>
  <input id ="username" type="text" name="username" ><br>

  <label for="Password">Kayttajan Salasana*</label><br>
  <input id="Password" type="password" name="password"><br>

  <label for="adress">Kotiosoite</label><br>
  <input id="adress" type="text" name="adress"><br>

  <label for="phonenumber">puhelinnumero</label><br>
  <input id="phonenumber" type="text" name="phonenumber"><br>

  
  <input type="submit" value="luo tili">

</form>


<form action="/">
  <input type="submit" value="takaisin">
</form>

</body>

