{%extends 'base.html'%}

{%block content%}



{%if session.is_admin%}
<p>Lisaa Huone</p>
<form action="/manageRooms/addRoom" enctype="multipart/form-data" method="POST">
  <label for="name">huoneen nimi</label><br>
  <input id ="name" type="text" name="name" ><br>
  
  <label for="roomDescription">huoneen kuvaus</label> <br>
  <input id ="roomDescription" type="text" name="roomDescription" ><br>

  <input type="submit" value="Submit">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>


<p>Huoneet tietokannassa:</p>

<table>
  <tr>
    <th>Nimi</th>
    <th>kuvaus</th>
  </tr>
  {%for item in rooms%}
  <form action="/manageRooms/removeRoom" method="POST">
  <tr>
    <th>{{item[1]}}</th>
    <th>{{item[2]}}</th>
    <th><input type="submit" value="poista huone"></th>
    <input type="hidden" name="room-id" value="{{item[0]}}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  </tr>
  </form>
  {%endfor%}
</table>

<p>Lisaa huoneelle uusi varattavissa oleva aika</p>
<table>
    <tr>
      <th>Nimi</th>
      <th>Alkuaika</th>
      <th>Loppuaika</th>
    </tr>
    {%for item in rooms%}
    <form action="/manageRooms/addReservation" method="POST">
    <tr>
      <th>{{item[1]}}</th>
     
      <th>
        <table>
          <tr>
            <th>minuutti</th>
            <th>tunti</th>
            <th>päivä</th>
            <th>kuukausi</th>
            <th>vuosi</th>
          </tr>
          
          <th><input class ="startTime" type="text" name="startMinute" > <br></th>
          <th><input class ="startTime" type="text" name="startHour" > <br></th>
          <th><input class ="startTime" type="text" name="startDay" > <br></th>
          <th><input class ="startTime" type="text" name="startMonth" > <br></th>
          <th><input class ="startTime" type="text" name="startYear" > <br></th>
          
        </table>
      </th>
      <th>
        <table>
          <tr>
            <th>minuutti</th>
            <th>tunti</th>
            <th>päivä</th>
            <th>kuukausi</th>
            <th>vuosi</th>
          </tr>
          
          <th><input class ="endTime" type="text" name="endMinute">  <br></th>
          <th><input class ="endTime" type="text" name="endHour">  <br></th>
          <th><input class ="endTime" type="text" name="endDay">  <br></th>
          <th><input class ="endTime" type="text" name="endMonth">  <br></th>
          <th><input class ="endTime" type="text" name="endYear">  <br></th>
          
        </table>
      </th>
      
      <th><input type="submit" value="lisaa uusi varattava aika"></th>
      <input type="hidden" name="room-id" value="{{item[0]}}" />
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </tr>
    </form>
    {%endfor%}
</table>

<p>Huoneiden varattavat ajat:</p>
<p>paivamaarat ovat muotoa MI:HH DD-MM-YYYY<p>
<table>
  <tr>
    <th>Huoneen nimi</th>
    <th>alkaa</th>
    <th>loppuu</th>
  </tr>
  {%for item in reservations%}
    <form action="/manageRooms/removeReservationTime" method="POST">
        <tr>
            <th>{{item[1]}}</th>
            <th>{{item[2]}}</th>
            <th>{{item[3]}}</th>
            <th><input type="submit" value="poista varattava aika"></th>
            <input type="hidden" name="room-id" value="{{item[4]}}" />
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </tr>
    </form>
  {%endfor%}
</table>


{%endif%}
<form action="/">
  <input type="submit" value="takaisin">
</form>
{%endblock%}