{%if session.is_admin%}
<p>Lisaa Kirja</p>
<form action="/manageBooks/addBook" enctype="multipart/form-data" method="POST">
  <label for="name">kirjan nimi</label><br>
  <input id ="name" type="text" name="name" ><br>

  <label for="publisDate">kirjan julkaisupaiva</label><br>
  <input id="publisDate" type="text" name="publishDate"><br>

  <label for="authors">kirjailijat muodossa: etunimi sukunimi, etunimi sukunimi</label><br>
  <input id="authors" type="text" name="authors"><br>

  <label for="amountFree">lainattavissa olevat kirjat</label><br>
  <input id ="amountFree" type="text" name="amountFree"><br>

  <label for="amountOverall">Kaikkien kirjojen määrä</label><br>
  <input id ="amountOverall" type="text" name="amountOverall"><br>

  <label for="content">Sisaltö:</label><br>
  <input id ="content" type="file" name="content"><br>

  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <input type="submit" value="Submit">

</form>

<p>Kirjat tietokannassa:</p>

<table>
  <tr>
    <th>Nimi</th>
    <th>Kirjan julkaisupaiva</th>
    <th>lainattavissa olevat kirjat</th>
    <th>kaikkien kirjojen maara</th>
    <th>Kirjailijat</th>
  </tr>
  {%for item in books%}
  <form action="/manageBooks/removeBook" method="POST">
  <tr>
    <th>{{item[0][1]}}</th>
    <th>{{item[0][2]}}</th>
    <th>{{item[0][3]}}</th>
    <th>{{item[0][4]}}</th>
    <th>
            
      {%for author in item[1]%}
      <p>{{author[0]}}</p>
      {%endfor%}
      
    </th>
    <th><input type="submit" value="poista kirja"></th>
    <input type="hidden" name="book-id" value="{{item[0][0]}}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  </tr>
  </form>
  {%endfor%}
</table>

{%endif%}



<form action="/">
  <input type="submit" value="takaisin">
</form>
